name: Helm Chart

on:
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.4

      - name: Lint chart
        run: helm lint . --strict

      - name: Render chart
        run: helm template transmission-wireguard . >/dev/null
